.LayoutSite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  .Home {
    main {
      width: 100%;
      background: #130f0f;
      padding: 16px;
      border-radius: 10px;
      height: 76.9vh;
      overflow: scroll;
      scrollbar-width: none;
    }
    display: flex;
    gap: 10px;
  }

  footer {
    margin-top: auto;
  }
}
