* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  background: #000;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-inline: 20px;
}
